body {
    background: url(../content/pexels-vecislavas-popa-1571460.jpg);
    font-family: Comic Sans MS;
    background-repeat: no-repeat;
}

.form-select {
    position: fixed;
    text-align: center;
    width: 800px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 400px);
}

    .form-select .welcome {
        font-size: 36px;
    }

    .form-select .question {
        font-size: 36px;
    }

    .form-select .button-select {
        display: inline-grid;
        margin-top: 20px;
    }

        .form-select .button-select button {
            width: 500px;
            height: 100px;
            margin-top: 10px;
            background-color: #403838;
            color: #fb7a7a;
            font-family: Comic Sans MS;
            font-size: 18px;
            cursor: pointer;
            border: none;
            outline: none;
        }

            .form-select .button-select button:hover {
                background-color: #ffea00;
            }